<!DOCTYPE html>
<html>
  <head>
    <title><%=title %></title>
    <meta charset="utf-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('header.ejs') %>

    <div class="container-md">
        <h4 class="my-5">Выберите велосипед</h4>
        <div class="row row-cols-md-auto">
          <% bikes.forEach((bike) => {%>
            <div class="col m-2">
                <a class="text-decoration-none text-dark" href="/reserve/<%=bike.pk%>">
                  <div class="card h-100" style="width: 18rem">
                    <% if (bike.image) { %>
                    <img src="<%=bike.image%>" class="card-img-top"/>
                    <% } %>
                    <div class="card-body">
                      <h5 class="card-title"><%=bike.name%></h5>
                      <p class="card-text"><%=bike.description%></p>
                      <p class="card-text"><strong>Цена: <%= bike.price_hour %> руб./час</strong></p>
                    </div>
                  </div>
                </a>
            </div>
          <%}) %>
        </div>
    </div>
  </body>
</html>
